@import "tailwindcss";

:root {
  --background: #093545;
  --foreground: #ffffff;
  --primary: #2BD17E;
  --error: #EB5757;
  --card: #092C39;
  --input: #092C39;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-error: var(--error);
  --color-card: var(--card);
  --color-input: var(--input);

  --radius-button: 10px;
  --radius-card: 8px;

  --background-image-wave-pattern: url('/wave.svg');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
  min-height: 100vh;
}